@import "bourbon/bourbon";

//variables
$main-gray: #4e4e4e;
$main-red: #ed1c2f;

a{
	&:hover{
		text-decoration: none;
	}
}
.my-hid{
	display: none;
}
body{
	letter-spacing: 1px;
}
//header block
.header{
	font-family: "Opensans-r";
	color: $main-gray;
	height: 65px;
	@include display(flex);
	align-items: center;
	&__container{
		@include display(flex);
		align-items: center;
		align-content: center;
	}
	&__description{
		font-size: 12px;
		h1{
			font-family: "Opensans-b";
			font-size: 12px;
			color: #717171;
			margin-bottom: 0px;
			margin-top: 0px;
		}
	}
	&__logo{
		text-align: center;
	}
	&__search{
		font-family: "Proxima-r";
		font-size: 18px;
		a{
			color: $main-gray;
			display: block;
			&:hover .icon{
				background-color: $main-red;
			}
		}
		span{
			text-decoration: underline ;
		}
		.icon{
			width: 20px;
			height: 20px;
			background-color: $main-gray;
			display: inline-block;
			margin-right: 4px;
			border-radius: 50%;
			position: relative;
			top: 5px;
			position: relative;
			svg{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		&-row{
			@include display(flex);
			justify-content: space-between;
			align-items: inherit;
			&-input{
				border: none;
				height: 27px;
				background-color: #f6f6f6;
				position: relative;
				padding-right: 40px;
				padding-left: 10px;
				font-size: 15px;
				color: #b2b2b2;
			}
			&-submit{
				position: absolute;
				top:-1px;
				right: 0;
				height: 29px;
				width: 31px;
				border: none;
				background-color: $main-red;
				svg{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
				&:hover{
					background-color: #d62334;
				}
			}

		}
	}
}

//navigation block
.navigation{
	background-color: $main-gray;
	background-image: url("../img/bg-nav.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Proxima-l";
	line-height: 28px;
	svg{
		height: 80px;
	}
	&__borders{
		opacity: 0;
		position: absolute;
		width: 100%;
		left:0;
		top:0;
		height: 100%;
		display: block;
		@include transition(all 0.4s ease-in-out);
		&:after{
			content: "";
			display: block;
			position: absolute;
			border-bottom: 1px solid #fff;
			border-right: 1px solid #fff;
			width: 100px;
			height: 120px;
			right: 5px;
			bottom: 5px;
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			border-top: 1px solid #fff;
			border-left: 1px solid #fff;
			width: 100px;
			height: 120px;
			left: 5px;
			top: 5px;
		}
	}
	&__container{
		@include display(flex);
		height: 280px;
	}
	&__item{
		@include display(flex);
		text-align: center;
		align-items: center;
		flex-direction: column;
		font-size: 24px;
		font-weight: lighter;
		color: #fff;
		position: relative;
		letter-spacing: 2px;
		z-index: 190;
		&-top-part{
			@include display(flex);
			justify-content: center;
			align-items: flex-end;
			height: 150px;
		}
		a{
			color: #fff;
		}
	}
	&__button{
		display: inline-block;
		margin-top: 27px;
		padding: 3px 12px;
		border: 1px solid transparent;
		text-decoration: underline;
		@include transition(all 0.3s ease-in-out);
	}
	&__inner-nav{
		display: none;
		position: absolute;
		align-items: center;
		font-family: "Proxima-sb";
		line-height: 25px;
		font-size: 18px;
		flex-direction: column;
		background-color: #fff;
		box-shadow: 0px 2px 5px rgba(0,0,0,.10);
		top: 100%;
		left: 0;
		width: 100%;
		color: #000;
		z-index: 200;
		span:hover{
			background-color: red;
		}
		a{
			color: $main-gray;
			display: block;
			padding: 7px 10px;
			width: 100%;
			opacity: .5;
			&:hover{
				background-color: #dad9d9;
				text-decoration: none;
			}
			&:not(:last-child){
				border-bottom: 1px solid $main-gray;
			}
		}
	}
}


//main page slider
.main-slider-wrapper{
	position: relative;
}
.main-slider{
	&__control{
		cursor: pointer;
		width: 67px;
		height: 67px;
		opacity: .76;
		position: absolute;
		top: 50%;
		margin-top: -33px;
		z-index: 100;
		background-color: #fff;
		text-align: center;
		vertical-align: middle;
		padding-top: 20px;
	}
	&__prev{
		left: 148px;

	}
	&__next{
		right: 148px;
	}
	height: auto;
	&__slide{
		img{
			width: 100%;
			height: auto;
		}
	}
}

//main site menu

.main-menu{
	background-color: #fff;
	font-size: 18px;
	font-family: "Proxima-b";
	letter-spacing: 1px;
	position: relative;
	&__container{
		height: 90px;
		@include display(flex);
		justify-content: space-between;
		align-items: center;
		&-item{
			@include display(flex);
			height: 100%;
			align-items: center;
			justify-content: center;
			/* padding-bottom: 8px; */
			color: $main-gray;
			/* border-bottom: 4px solid transparent; */
			text-transform: uppercase;
			position: relative;
			@include transition(all 0.1s ease-in-out);
			color: $main-gray;
			&--link{
				color: $main-gray;
				text-decoration: underline;
			}
			&:hover .main-menu__submenu-wrapper,
			&:focus .main-menu__submenu-wrapper,
			&:active .main-menu__submenu-wrapper{
				display: block;;
			}
			&:hover .main-menu__container-item--link,
			&:focus .main-menu__container-item--link,
			&:active .main-menu__container-item--link{
				color: $main-red;
				@include transition(all 0.2s ease-in-out);
				text-decoration: none;
				
				&:hover .main-menu__container-item--link,
				&:focus .main-menu__container-item--link,
				&:active .main-menu__container-item--link{
					color: $main-red;
					@include transition(all 0.2s ease-in-out);
					text-decoration: none;
				}
				&:hover:after,
				&:focus:after,
				&:active:after{
					@include transition(all 0.3s ease-in-out);
					opacity: 0;
				}
			}
		}
	}
	&__submenu-wrapper{
		padding-top: 10px;
		position: absolute;
		top: 100%;
		width: auto;
		left: 0;
		z-index: 999999;
		display: none;
		h4{
			font-size: 18px;
			text-decoration: underline;
			font-family: "Proxima-sb";
			color: $main-gray;
			text-align: left;
			margin-bottom: 10px;
			margin-top: 10px;
		}
		&:after{
			content: '';
			position: absolute;
			left: 30px;
			top: -10px;
			border: 10px solid transparent;
			border-bottom: 10px solid #fff;
		}
		&--mod{
			right: 0;
			left: inherit;
			&:after{
				content: '';
				position: absolute;
				right: 30px;
				left: inherit;
				top: -10px;
				border: 10px solid transparent;
				border-bottom: 10px solid #fff;
			}
		}
	}
	&__submenu{
		padding: 30px;
		background-color: #fff;
		box-shadow: -1px 2px 4px rgba(0,0,0,.4);
		&--mod{
			width: 686px;

		}
		&--link{
			font-size: 18px;
			white-space: nowrap;
			@include transition(all 0.3s ease-in-out);
			font-family: "Proxima-r";
			@extend .footer__top-part__col-link;
			&:before{
				@include transition(all 0.3s ease-in-out);
				@extend .footer__top-part__col-link:before;
			}
		}
	}
}

//hondaman section

.saitro-section{
	background-color: #efefef;
	background-image: url("../img/bg-honda.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 791px;
	color: $main-gray;
	font-family: "Proxima-r";
	font-size: 32px;
	@include display(flex);
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 45px;
	letter-spacing: 2px;
	&__block{
		@include display(flex);
		flex-direction: column;
		align-items: center;
		width: 615px;
		
	}
	&__quote{
		align-items: center;
		margin: 30px 0 40px 0;
		position: relative;
		&:after{
			content: '';
			width: 24px;
			height: 22px;
			position: absolute;
			top: 0;
			left: 0;
			font-family: "Proxima-black";
			font-size: 61px;
			background-image: url("../img/q1.png");
			background-repeat: no-repeat;
			background-position: center;
		}
		&:before{
			content: '';
			width: 24px;
			height: 22px;
			position: absolute;
			bottom: -7px;
			right: 107px;
			font-family: "Proxima-black";
			font-size: 61px;
			background-image: url("../img/q2.png");
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__autor{
		font-family: "Proxima-b";
		font-size: 18px;
		text-transform: uppercase;
	}
}

//fortuna group section

.fortuna-group{
	height: 1007px;
	background-image: url("../img/bg-group.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	font-family: "Proxima-b";
	text-transform: uppercase;
	color: $main-gray;
	&__main-block{
		@include display(flex);
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		width: 379px;
		height: 562px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-image: url("../img/bg-group-inner.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		text-align: center;
		padding: 55px;
		font-size: 22px;
	}
	&__title{
		font-size: 30px;
	}
	&-red{
		color: $main-red;
	}
}

//footer
.footer{
	height: 676px;
	font-size: 18px;
	color: #8c8c8c;
	font-family: "Proxima-r";
	background-color: #363636;
	background-image: url("../img/bg-footer.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include display(flex);
	justify-content: space-between;
	align-items: center;
	line-height: 25px;
	&__head-link{
		font-size: 18px;
		color: #fff;
		font-family: "Proxima-b";
		height: 63px;
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		margin-bottom: 10px;
		&:after{
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			background-color: $main-gray;
			bottom: 0;
			left: 0;
			position: absolute;
		}
		&:hover,
		&:focus,
		&:active{
			color: $main-red;
			@include transition(all 0.2s ease-in-out);
			text-decoration: none;
		}
		&:hover:after,
		&:focus:after,
		&:active:after{
			@include transition(all 0.3s ease-in-out);
			opacity: 0;
		}
	}
	&__top-part{
		padding-bottom: 65px;
		border-bottom: 1px solid #595959;
		&__col{
			&-link{
				display: inline-block;
				width: 100%;
				position: relative;
				color: #8c8c8c;
				text-decoration: underline;
				@include transition(all 0.1s ease-in-out);
				&:before{
					content: "";
					display: block;
					width: 6px;
					height: 6px;
					background-color: #c5c5c5;
					position: absolute;
					left: -12px;
					top: 10px;
					@include transition(all 0.1s ease-in-out);
				}
				&:hover,
				&:active,
				&:focus{
					color: $main-red;
				}
				&:hover:before,
				&:active:before,
				&:focus:before{
					background-color: $main-red;
				}
			}
		}
	}
	&__bottom-part{

		&-row{
			padding-top: 25px;
			@include display(flex);
			justify-content: space-between;
			align-items: center;
		}
		&-left-part{
			@include display(flex);
			align-items: baseline;
			img{
				margin-right: 18px;
			}
		}
	}
	&__social-links{
		text-align: right;
		svg{
			margin-left: 17px;
			width: 40px;
			height: 40px;
			&:hover path,
			&:hover polygon{
				fill: $main-red !important;
			}
		}
	}
}

.main-wrapper{
	background-color: #efefef;
	padding: 30px 0 151px 0;
	background-image: url("../img/main-wrapper-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}

//catalog page

.top-catalog-slider{
	padding-top: 4px;
	&__inner-wrap{
		padding: 5px;
	}
	&__item{
		@include transition(all 0.7s ease-in-out);
		background-color: #fff;
		position: relative;
		padding: 30px 23px 25px 23px;
		color: $main-gray;
		border-bottom: 5px solid #dbdbdb;
		font-size: 18px;
		&-status{
			position: absolute;
			top: -6px;
			left: -6px;
			height: 104px;
			width: 104px;
			z-index: 99;
		}
		&-photo{
			text-align: center;
			padding: 0 0 11px 0;
			img{
				width: 70% !important;
				height: auto;
				display: inline-block;
				margin: 0 auto;

			}
		}
		&--mod{
			img{
				width: auto !important;
				height: 117px;
			}
		}
		&-name{
			font-size: 15px;
			font-family: "Opensans-sb";
			margin-bottom: 20px;
		}
		&-old-price{
			text-decoration: line-through;
			font-size: 14px;
		}
		&-price{
			font-family: "Opensans-b";
			font-size: 24px;
			color: $main-red;
		}
		.order-wrap{
			margin-right: -23px;
			margin-left: -23px
		}
		&-order{
			font-family: "Opensans-b";
			width: 174px;
			display: inline-block;
			padding: 12px 0 12px 16px;
			position: relative;
			left:0;
			/* bottom: 60px; */
			background-color: #e6e6e6;
			color: #828282;
			font-size: 18px;
			@include transition(all 0.4s ease-in-out);
			&--mod{
				margin-top: 16px;
				margin-bottom: 14px;
			}
			.phone{
				width: 47px;
				background-color: #d4d4d4;
				position: absolute;
				top:0;
				right: 0;
				height: 100%;
				@include transition(all 0.4s ease-in-out);
				svg{
					position: absolute;
					top: 0;left: 0;
					right: 0; bottom: 0;
					margin: auto;
				}
				svg path{
					@include transition(all 0.4s ease-in-out);
				}
			}
			&:hover{
				background-color: $main-red;
				width: 100%;
				color: #fff;
			}
			&:hover .phone{
				background-color: #b80011;
			}
			&:hover svg path{
				fill: #fff !important;
			}
		}
		&-more{
			font-size: 22px;
			color: $main-gray;
			text-decoration: underline;
			display: inline-block;
			text-transform: uppercase;
			font-family: "Proxima-l";
			@include transition(all 0.2s ease-in-out);
			&:hover{
				color: $main-red;
			}
			&:hover i{
				left: 10px;
			}
			i{
				@include transition(all 0.3s ease-in-out);
				position: relative;
				left: 6px;
				color: $main-red;

			}
		}
		&:hover .top-catalog-slider__hover{
			height: 100%;
			visibility: visible;
		}
		&:hover .top-catalog-slider__hover__button{
			opacity: 1;
		}
	}
	&__hover{
		visibility: hidden;
		position: absolute;
		width: 100%;
		height: 0;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,.5);
		@include transition(all 0.2s ease-in-out);
		@include display(flex);
		&__button{
			font-size: 20px;
			margin: auto;
			display: inline-block;
			background-color: $main-red;
			padding: 5px 10px;
			color: #fff;
			@include transition(all 0.4s ease-in-out);
			font-family: "Opensans-b";
			text-align: center;
			opacity: 0;
			width: 70%;
			&:hover{
				width: 100%;
				color: #fff;
				background-color: #b80011;
			}
		}
	}
}

//filters
.top-filter-tape{
	height: 76px;
	background-color: #fff;
	@include display(flex);
	border-bottom: 5px solid #dbdbdb;
	align-items: center;
	justify-content: space-around;
	svg{
		margin-right: 10px;
		position: relative;
		top: 2px;
		display: inline-block;
		@include transition(all 0.4s ease-in-out);
	}
	
	&__filter{
		font-size: 14px;
		text-decoration: underline;
		@include transition(all 0.4s ease-in-out);
		@include display(flex);
		height: 100%;
		justify-content: center;
		align-items: center;
		position: relative;
		a{
			@include transition(all 0.4s ease-in-out);
			color: #000003;
		}
		&:hover{
			background-color: #f8f8f8;
		}
		&:hover svg{
			transform: translateX(-5px);
		}
		&:hover .top-filter-tape__filter-menu{
			@include display(flex);
			opacity: .99;
			top: 100%;
			z-index: 10;
		}
	}
	&__filter-menu{
		display: none;
		@extend .top-filter-tape__filter;
		width: 100%;
		flex-direction: column;
		position: absolute;
		left:0;
		top: 110%;
		background-color: #FFF;
		opacity: 0;
		z-index: auto;
		height: auto;
		a{
			width: 100%;
			text-align: center;
			@include display(flex);
			justify-content: center;
			align-items: center;
			padding: 17px 10px;
			&:hover{
				background-color: #f8f8f8;
			}
		}
		&:hover{
			background-color: #fff;;
		}
		
	}
}

//products

.product-tape-wrapper{
	/* padding-top: 13px; */
}
.product-tape{
	margin-bottom: 13px;
}

.product-box{
	position: relative;
	overflow: hidden;
	color: $main-gray;
	border-bottom: 5px solid #dbdbdb;
	background-color: #fff;
	margin-bottom: 13px;
	&__image{
		@include display(flex);
		padding: 45px;
		width: 28%;
		float: left;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__description{
		float: left;
		width: 72%;
		padding-bottom: 40px;
		border-left: 1px solid #dbdbdb;
	}
	&__name{
		padding: 15px 30px 15px 15px;
		font-size: 21px;
		font-family: "Opensans-sb";
	}

	&__old-price{
		@extend .top-catalog-slider__item-old-price;
	}
	&__price{
		@extend .top-catalog-slider__item-price;
	}
	&__item-order{
		@extend .top-catalog-slider__item-order;
		&--mod{
			@extend .top-catalog-slider__item-order--mod;
			margin-top: 0;
			top: 4px;
		}
	}
	&__item-more{
		@extend .top-catalog-slider__item-more;
		&--mod{
			position: relative;
			top: 30px;
			float: right;
		}
		&:after{
			content: "";
			position: absolute;
			width: 150px ;
			display: block;
			background-color: $main-gray;
			height: 1px;
			top: - 9px;
		}
		&:before{
			content: "";
			position: absolute;
			width: 90px;
			display: block;
			background-color: $main-red;
			height: 4px;
			top: -12px;
			z-index: 4;
		}
	}
	&__bottom-block{
		padding-top: 15px;
	}
}

//pagination

.pagination{
	margin-top: 0;
	margin-bottom: 0;
	li{
		a{
			@include transition(all 0.2s ease-in-out);
			background-color: transparent !important;
			border: 1px solid $main-gray !important;
			margin-right: 3px !important;
			color: $main-gray !important;
			border-radius: 0 !important;
			&:hover{
				background-color: $main-gray !important;
				color: #fff !important;
			}
		}
	}
}

//left sidebar

.sidebar{
	width: 100%;
	list-style-type: none;
	padding-left: 0;
	font-family: "Proxima-l";
	ul{
		list-style-type: none;
		padding-left: 0;
	}
	&>ul{
		padding-left: 0;
	}
	&>li>a{
		padding: 9px 18px;
		padding-right: 25px;
		background-color: $main-gray;
		display: block;
		color: #fff;
		text-decoration: underline;
		position: relative;
		z-index: 999;
		background-image: url("../img/plus.png");
		background-position: 95% center;
		background-repeat: no-repeat;
		@include transition(all 0.4s ease-in-out);
		&:after{
			content: ''; 
			position: absolute; 
			left: 50%; bottom: -20px;
			margin-left: -10px;
			border: 10px solid transparent; 
			border-top: 10px solid $main-gray;
			z-index: 888;
		}
	}
	&>li.active>a{
		background-image: url("../img/minus.png");
		@include transition(all 0.4s ease-in-out);
	}
	&>li:nth-child(even) > a{
		background-color: $main-red;
		&:after{ 
			border-top: 10px solid $main-red;
		}
	}
	.items>li{
		background-color: #fff;
		padding-left: 32px;
		padding-right: 10px;
		&:first-child{
			padding-top: 15px;
		}
		&:last-child{
			padding-bottom: 15px;
		}
		span{
			text-decoration: underline;
			font-size: 19px;
			color: $main-red;
			font-family: "Proxima-l";
			position: relative;
			left: 14px;
			cursor: pointer;

		}
	}
	.items>li>a{
		width: 100%;
		display: inline-block;
		padding: 13px 13px;
		background-color: #fff;
		color: $main-gray;
	}
}

.castom-cb{
	opacity: 0;
	width: 0px;
	height: 0px;
	margin-top: 0px;
	position: absolute;
	@include transition(all 0.2s ease-in-out);
}
	.castom-cb+label{
		margin: 0;
		display: inline-block;
		cursor: pointer;
		position: relative;
		text-decoration: underline;
		font-size: 19px;
		color: $main-gray;
		font-family: "Proxima-l";
		letter-spacing: 1px;
		&:before{
			content: "";
			@include transition(all 0.2s ease-in-out);
			display: inline-block;
			position: relative;
			width: 16px;
			height: 16px;
			border: 1px solid #d4d4d4;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 10;
			top: 2px;
			left: -15px;
		}
		&:after{
			content: "";
			@include transition(all 0.2s ease-in-out);
			display: inline-block;
			position: absolute;
			width: 16px;
			height: 16px;
			background-position: center;
			background-repeat: no-repeat;
			z-index: 10;
		    left: -13px;
		    top: -7px;
			background-image: url("../img/check.png");
			opacity: 0;
		}
	}
	.castom-cb:checked + label:after{
		opacity: 1;
		left: -13px;
	    top: 1px;
	}

//product tile

.product-tile{
	@extend .top-catalog-slider;
	&__item{
		@extend .top-catalog-slider__item;
		margin-left: -10px;
		margin-right: -10px;
		&--mod{
			margin-bottom: 10px;
		}
	}
	&__item-photo{
		@extend .top-catalog-slider__item-photo;
	}
	&__item-name{
		@extend .top-catalog-slider__item-name;
	}
	&__item-old-price{
		@extend .top-catalog-slider__item-old-price;
	}
	&__item-price{
		@extend .top-catalog-slider__item-price;
	}
	&__item-order{
		@extend .top-catalog-slider__item-order;
		&--mod{
			@extend .top-catalog-slider__item-order--mod;
		}
	}
	&__item-more{
		@extend .top-catalog-slider__item-more;
	}
}

//coundown

.countdown-wrapper{
	margin-bottom: -20px;
	padding-top: 15px;
	margin-right: -23px;
	margin-left: -23px;
}
.countdown{
	width: 100%;
	font-size: 9px;
	z-index: 99999;
	padding-left: 5px;
	padding-right: 5px;
	.descr-wrap{
		border: 3px solid #d4d4d4;
		padding: 4px;
		font-family: "Opensans-r";
		font-size: 9px;
		text-align: right;
		float: left;
		width: 30%;
		position: relative;
		top: 4px;
	}
	.clock-wrap{
		float: left;
		width: 70%;
	}
	.days,.hours,.min,.sec{
		float: left;
		width: 25%;
		padding: 4px;
		font-size: 19px;
		font-family: "Opensans-b";
		text-align: center;
	}
	.descr{
		font-size: 8px;
		font-family: "Opensans-r";
		text-align: center;
	}
	.bord{
		padding: 4px;
		border: 1px solid #d6d6d6;
		border-radius: 3px;
		position: relative;
		&:after{
			position: absolute;
			opacity: .3;
			content: "";
			display: block;
			height: 1px;
			width: 100%;
			top: 50%;
			left: 0;
			background-color: #d6d6d6;
		}
	}
}

//prices page

.price-page{
	&__item{
		@extend .navigation__item;
		&--mod{
			height: 300px;
			background-color: $main-gray;
			margin-left: 30px;
			margin-bottom: 30px;
			font-size: 19px;
		}
		&:hover{

		}
	}
	&__borders{
		@extend .navigation__borders;
	}
	&__item-top-part{
		@extend .navigation__item-top-part;
	}
	&__button{
		@extend .navigation__button;
	}
}

//news page

.news-box{
	background-color: #fff;
	color: $main-gray;
	font-family: "Opensans-l";
	font-size: 14px;
	line-height: 18px;
	position: relative;
	margin-bottom: 16px;
	&__image{
		padding-left: 0;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__descr{
		padding: 28px;
		padding-left: 15px;
		padding-bottom: 46px;
	}
	&__date{
		font-size: 11px;
		border-bottom: 1px solid #333;
		padding-bottom: 4px;
	}
	&__read-more{
		padding: 8px 12px;
		font-size: 16px;
		color: #fff;
		font-family: "Proxima-r";
		position: absolute;
		bottom: 5px; 
		right: 5px;
		background-color: $main-red;
		@include transition(all 0.2s ease-in-out);
		&:after{
			content: "";
			bottom: 0;
			left: 0;
			position: absolute;
			height: 3px;
			width: 0;
			background-color: $main-red;
			@include transition(all 0.3s ease-in-out);
		}
		&:hover,
		&:focus,
		&:active{
			background-color: $main-gray;
			color: #fff;
		}
		&:hover:after,
		&:focus:after,
		&:active:after{
			width: 100%;
		}
	}
	h2{
		font-size: 18px;
		font-family: "Proxima-black";
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 24px;
	}
	i{
		margin-right: 3px;
	}
}

//services
.service-page{
	&__item{
		@extend .price-page__item;
		overflow: hidden;
		&--mod{
			@extend .price-page__item--mod;
			background-color: #fff;
		}
		&:hover,
		&:focus,
		&:active{
			a{
				color: #fff;
			}
			svg path, svg polygon, svg circle{
				fill: #fff !important;
			}
		}
		&:hover .service-page__borders,
		&:focus .service-page__borders,
		&:active .service-page__borders{
			@include transition(all 0.3s ease-in-out);
			opacity: 1;
		}
		&:hover .service-page__button,
		&:focus .service-page__button,
		&:active .service-page__button{
			border-color: #fff;
		}
		a{
			color: $main-gray;
		}
		svg path, svg polygon, svg circle{
			@include transition(all 0.3s ease-in-out);
			fill: $main-gray !important;
		}
	}
	&__borders{
		@extend .price-page__borders;
		&:before{
			@extend .price-page__borders:before;
		}
		&:after{
			@extend .price-page__borders:after;
		}
	}
	&__item-top-part{
		@extend .price-page__item-top-part;
	}
	&__button{
		@extend .price-page__button;
		border: 1px solid $main-gray;
		padding: 3px 5px;
	}
}

//bottom-slider-wrapper
.bottom-slider-wrapper{
	margin-top: 40px;
}

//servise-type

.servise-type-wrapper{
	padding: 30px;
	background-color: #fff;
}
.servise-type{
	padding: 0px 20px;
	color: $main-gray;
	&__top{
		@include display(flex);
		align-items: baseline;
		justify-content: flex-start;
		border-bottom: 1px solid $main-gray;
		font-family: "Opensans-r";
		h3{
			font-size: 24px;
			margin-bottom: 0;
			margin-top: 0;
			padding-bottom: 12px;
			display: inline-block;
			margin-right: 26px;
			position: relative;
			&:after{
				content: "";
				display: block;
				height: 4px;
				width: 100%;
				background-color: $main-red;
				position: absolute;
				bottom: -1px;
				left: 0;
			}
		}
		svg {
			position: relative;
			top: 16px;
		}
		svg path{
			fill: $main-gray !important;
		}
	}
	&__descr{
		font-size: 13px;
		font-family: "Opensans-l";
		padding: 26px 0;
	}
}


//popups


//oder-retail
.order-detail{
	max-width: 570px;
	margin: 0px auto;
	&__header{
		height: 62px;
		background-color: $main-red;
		font-size: 18px;
		color: #fff;
		font-family: "Proxima-b";
		text-transform: uppercase;
		@include display(flex);
		align-items: center;
		justify-content: center;
		background-image: url("../img/popup-bg.png");
		background-position: 10% center;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	&__body{
		padding: 40px;
		background-color: #fff;
		color: #a7a7a7;
	}
	&__form{
		&--input{
			margin-bottom: 13px;
			position: relative;
			font-family: "Opensans-l";
			&:before{
				content: "*";
				color: $main-red;
				font-size: 19px;
				display: block;
				position: absolute;
				left: -13px;
				top: 15px;
			}
			input{
				font-size: 18px;
				height: 48px;
				background-color: #f6f6f6;
				border: none;
				width: 100%;
				padding: 0 18px;
				position: relative;
			}
		}
		&--textarea{
			textarea{
				font-family: "Opensans-l";
				font-size: 18px;
				height: 157px;
				background-color: #f6f6f6;
				border: none;
				width: 100%;
				padding: 18px;
				position: relative;
				resize: none;
			}
		}
		&--select{
			margin-bottom: 13px;
			position: relative;
			font-family: "Opensans-r";
			&:before{
				content: "*";
				color: $main-red;
				font-size: 19px;
				display: block;
				position: absolute;
				left: -13px;
				top: 15px;
				font-family: "Opensans-l";
			}
			select{
				font-size: 18px;
				font-weight: bold;
				position: relative;
				border: 1px solid #cfcfcf;
				background-color: #f6f6f6;
				height: 48px;
				/* @include linear-gradient(bottom, #cfcfcf, #f6f6f6); */
				width: 100%;
				padding: 0 18px;
				@include appearance(none);
				background-image: url("../img/select-bg.png");
				background-repeat: no-repeat;
				background-position: right center;
				background-size: auto 100%;
				cursor: pointer;
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
	&__submit{
		&--capcha{
			img{
				width: 100%;
				height: auto;
			}
			input{
				width: 100%;
				height: 20px;
				padding: 4px;
				font-size: 13px;
			}
		}
		&--button{
			input{
				width: 100%;
				@include appearance(none);
				@include transition(all 0.3s ease-in-out);
				color: #fff;
				font-size: 18px;
				color: #fff;
				font-family: "Proxima-b";
				border: none;
				background-color: $main-red;
				height: 43px;
				letter-spacing: 1px;
				&:hover{
					background-color: $main-gray;
				}
			}
		}
	}
	&__important{
		margin-bottom: 22px;
		span{
			color: $main-red;
			font-size: 20px;
			font-family: "Opensans-l";
		}
	}
}

//callback - mod

.testdrive__header--mod{
	background-image: url("../img/search2.png");
	background-position: 28% center;
	background-size: auto 74%;
}

//callback - mod

.callback__header--mod{
	background-image: url("../img/phone.png");
	background-position: 23% center;
	background-size: auto 58%;
}

//thank box

.thank-box{
	max-width: 507px;
	padding: 41px 55px;
	background-color: #efefef;
	background-image: url("../img/popbg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	&__ty{
		font-size: 24px;
		padding-bottom: 17px;
		border-bottom: 1px solid $main-gray;
		font-family: "Proxima-b";
		text-transform: uppercase;
	}
	&__message{
		font-family: "Proxima-r";
		font-size: 25px;
		padding: 15px 0 35px 0;
	}
	&__respect{
		font-family: "Opensans-i";
		color: #5d5d5d;
		font-size: 14px;
		i{
			color: $main-red;
			margin-right: 5px;
			font-size: 19px;
		}
	}

}

//buttons

.buttons-container{
	position: fixed;
	top: 10%;
	right: 0;
	width: 60px;
	z-index: 99999999;
	&--mod{
		left: 0;
		right: inherit;
	}
}
.button-right{
	width: 100%;
	height: 100%;
	display: block;
	margin-bottom: 21px;
	position: relative;
	color: #fff;
	@include transition(all 0.3s ease-in-out);
	&:after{
		content: "";
		display: block;
		width: 92%;
		height: 94%;
		top: 3%;
		left: 4%;
		position: absolute;
		border: 1px solid #fff;
	}
	&:hover{
		margin-left: -10px;
		color: $main-gray;
	}
	&__icon{
		height: 59px;
		background-color: #fe3f50;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 70%;
	}
	&__name{
		font-size: 10px;
		text-decoration: underline;
		font-family: "Proxima-b";
		text-align: center;
		padding: 13px 5px 16px 5px;
		background-color: #ed1c2f;
		span{
			font-size: 35px;
		}
	}
	&--gray-mod{
		&:after{
			@extend .button-right:after;
			border-color: $main-gray;
		}
		&__name{
			@extend .button-right__name;
			background-color: #c5c5c5
		}
		&__icon{
			@extend .button-right__icon;
			background-color: #fff;
		}
	}
}

//contact page

.contact-page{
	text-align: center;
	background-color: #fff;
	color: $main-gray;
	font-size: 19px;
	&__header{
		padding-top: 40px;
		font-family: "Opensans-r";
		display: inline-block;
		max-width: 630px;
		margin-bottom: 40px;
		.red{
			font-family: "Opensans-b";
			color: $main-red;
		}
		b{
			font-family: "Opensans-b";
		}
	}
	&__image{
		img{
			width: 100%;
			height: auto;
		}
	}
	&__descr{
		padding-bottom: 20px;
		@include display(flex);
		align-items: center;
		&--left{
			padding: 33px 0;
		}
		&--tape{
			@include display(flex);
			justify-content: space-between;
			align-items: center;
			.name{
				font-size: 14px;
				color: $main-red;
				font-family: "Opensans-r";
				text-align: left;
				padding-right: 5px;
			}
			.phone{
				font-family: "Opensans-b";
				font-size: 15px;
				padding: 5px;
				padding-left: 32px;
				background-image: url("../img/phone2.png");
				background-repeat: no-repeat;
				background-position: left center;
				padding-right: 5px;
			}
			.mail{
				font-family: "Opensans-r";
				font-size: 14px;
				padding: 5px;
				padding-left: 32px;
				background-image: url("../img/mail.png");
				background-repeat: no-repeat;
				background-position: left center;
				text-align: left;
				padding-right: 5px;
			}
		}
		&--right{
			.inner-wrapper{
				margin-top: 20px;
				border: 3px solid #efefef;
				padding: 20px;
			}
			.desc{
				font-size: 18px;
				font-family: "Proxima-r";
				text-align: left;
			}
			.time{
				font-size: 17px;
				font-family: "Opensans-b";
				color: $main-red;
				text-align: left;
			}
		}
	}
}

//product page

.product-header{
	@extend .servise-type__top;
	margin-bottom: 15px;
	margin-top: 30px;
}

.product{
	&__image{
		margin-bottom: 20px;
		&--box{
			background-color: #fff;
			padding: 40px 15px;
			img{
				width: 100%;
				height: auto;
			}
		}
		&--slider{
			margin-top: 30px;
			.item{
				background-color: #fff;
				text-align: center;
				padding: 10px;
				@include display(flex);
				height: 71px;
				a{
					margin: auto;
				}
				img{
					width: 100%;
					
				}
			}
		}
	}
	&__color{
		margin-top: 25px;
		span{
			display: inline-block;
			font-family: "Opensans-l";
			text-decoration: underline;
			font-size: 14px;
			margin-right: 10px;
		}
		&-item{
			width: 18px;
			height: 18px;
			border: 2px solid #fff;
			display: inline-block;
			margin-right: 5px;
			position: relative;
			top: 4px;
		}
	}
	&__download{
		margin-top: 11px;
		a{
			display: inline-block;
			font-family: "Opensans-l";
			text-decoration: underline;
			font-size: 14px;
			margin-right: 10px;
			color: $main-gray;
			position: relative;
			top: 4px;
			&:hover{
				color: $main-red;
			}
		}
		&-item{
			@extend .product__color-item;
		}
	}
	.product-description{
		padding: 30px;
		padding-right: 15px;
		background-color: #fff;
		h5{
			font-size: 24px;
			margin: 0px;
			margin-bottom: 50px;
		}
		&__character{
			margin-bottom: 25px;
		}
	}
	&__price-off{
		display: inline-block;
		font-size: 16px;
		font-family: "Opensans-r";
		position: relative;
		margin-right: 20px;
		top: 2px;
	}
	.product__price{
		position: relative;
		top: 3px;
		display: inline-block;
		.old{
			text-decoration: line-through;
			font-size: 13px;
		}
		.new{
			font-family: "Opensans-b";
			font-size: 20px;
			color: $main-red;
		}
	}
	&__text{
		margin-top: 25px;
		font-size: 13px;
	}
	&__slider-wrapper{
		position: relative;
		.next{
			position: absolute;
			top: 50%;
			right:-22px;
			z-index: 1005;
			margin-top: -26px;
			cursor: pointer;
		}
		.prev{
			position: absolute;
			top: 50%;
			left:-22px;
			z-index: 1005;
			margin-top: -26px;
			cursor: pointer;
		}
	}
	&__slider{
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 50px;
		background-color: $main-red;

	}
	&__acardion{
		font-family: "Opensans-l";
		background-color: #fff;
		&--header{
			font-family: "Opensans-r";
			text-align: center;
			font-size: 24px;
			padding: 24px;
			width: 100%;
			position: relative;
			cursor: pointer;
			border-bottom: 1px solid #dfdfdf;
			&:hover:after{
				bottom: 8px;
				@include transition(all 0.4s ease-in-out);
			}
			&:after{
				content: "";
				position: absolute;
				left: 50%;
				width: 13px;
				height: 9px;
				background-image: url("../img/ar-dow.png");
				background-repeat: no-repeat;
				background-position: center;
				font-size: 30px;
				color: $main-red;
				margin-left: -5px;
				bottom: 14px;
			}
		}
		&--hidden{
			padding: 30px;
			.sepor{
				height: 1px;
				background-color: $main-gray;
				position: relative;
				margin-bottom: 20px;
				&:after{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 3px;
					width: 150px;
					background-color: $main-red;
				}
			}
		}
	}
}

//white text box

.white-text-box{
	@extend .servise-type;
	&__top{
		@extend .servise-type__top;
	}
	&__descr{
		@extend .servise-type__descr;
	}
	&--mod{
		background-color: #fff;
		padding: 30px;
		margin-top: 20px;
	}
	&__img{
		padding-bottom: 5px;
		padding-left: 0;
		img{
			width: 100%;
			height: auto;
		}
	}
}