/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1250px) {
	
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.out-medicine{background-position: 70%; padding-top: 112px;}
	.out-medicine h1{font-size: 40px; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.out-medicine{background-position: left;}
	.out-medicine h1{text-align: center;}
	.video-section iframe{height: 405px;}
	.out-specialist .photos .man-col{margin-bottom: 30px; padding-left: 15px; padding-right: 15px;}
	.out-specialist .photos{padding-bottom: 60px;}
}	
 
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header{height: 110px;}
	header img{width: 300px; height: auto;}
	.out-medicine{height: auto; padding-top: 50px; padding-bottom: 50px;}
	.video-section iframe{height: 377px;}
	.out-specialist .photos .row{margin-right: -15px; margin-left: -15px;}
	.popup-my{padding: 60px 30px; }
	.tool-tip{width: 90%; left: 5%;}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.out-medicine h1{font-size: 25px;}
	.form-section .left-text{font-size: 19px;}
	.bottom-box, .popup-my .bottom-box2,.form-section .form-body{font-size: 19px;}
	.form-section .form-wrapper{padding: 0;}
	.form-section .form-body{padding: 26px 10px 11px 10px;}
	.form-section .form-header{padding: 10px;}
	.form-section .form-header span{font-size: 21px;}
	.form-section .form-body .submit-wrap input{font-size: 25px;}
	.video-section iframe{height: 165px;}
	.out-specialist .photos .man-col{width: 100%;}
	.out-specialist .blue-tape{font-size: 22px;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}